<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Home</a><br>
Employees page | <a href="/addEmployee">Add Employee</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phoneNumber</th>
        <th>salary</th>
        <th>position</th>
        <th>company</th>
        <th>Action</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.getId}"></td>
        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getSurname()}" ></td>
        <td th:text="${employee.getEmail()}"></td>
        <td th:text="${employee.getPhoneNumber()}"></td>
        <td th:text="${employee.getSalary()}"></td>
        <td th:text="${employee.getPosition()}"></td>
        <td th:text="${employee.getCompany.name}"></td>
        <td ><a th:href="@{/deleteEmployee(id=${employee.id})}">delete </a></td>

    </tr>
</table>
</body>
</html>